.claude/settings.local.json
copy.msh
.idea/
.redo/
mshell/bin
mshell/test.msh
codex.log
.gocache/
.cache/

*.mshell_history
*.vsix
plans/

covcounters.*
covmeta.*

cover.html
cover.out
cover_funcs.txt

# REDOGI
doc/all
doc/build/**/*.html
doc/mshell.html
mshell/all
mshell/msh-cover
mshell/msh.exe
mshell/mshell
mshell/mshw.exe
