*.vo
*.vok
*.vos
*.glob
*.aux
.*.aux
.*.cache
.lia.cache
.nia.cache
CoqMakefile
CoqMakefile.conf
.CoqMakefile.d
Assumptions_check*
oracle/oracle
oracle/decide.ml
oracle/decide.mli
oracle/*.cm*
oracle/*.o
oracle/got.txt
oracle/want.txt
